.memo-holder h2{
    padding: 2%;
    color: #8391a2;
}

form.memoform {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

form.memoform label{
    color: #8391a2;
}

form.memoform select{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
}

form.memoform .button-handler{
    margin-top: 10px
}

form.memoform .button-handler button{
    padding: 8px;
    width: 20%;
    background: rgb(24,144,255);
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

form.memoform .button-handler button + button{
    background: #5cb85c;
}

form.memoform .button-handler button:hover{
    filter: brightness(1.1)
}