.containerRepartition{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-content: top;
    border-radius: 5%;
    width: 100%;
}

.single--rep, .single--rep--cnpj{
    width: 28%;
    margin: 1%;
}

.single--rep{
    color: #8391a2;
}

.single--rep--cnpj{
    color: #8391a2;
    height: 90px;
    width: 100%;
}

.single--rep--cnpj a, .single--rep a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons--rep, .icons--rep--cnpj{
    display: flex;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 1px 1px 0 1px gray;
}

.icons--rep--cnpj{
    width: 100%;
}


.icons--rep p, .icons--rep--cnpj p{
    font-size: 14px;
    color: #8391a2;
}

.rounded, .rounded--cnpj{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 15%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0.1px 1px 5px 0.5px gray;
}

.rounded--cnpj{
    width: 60px;
    height: 60px;
}



