section.meusArquivos-cpf{
    margin-top: 1%;
    padding-left: 1.5%
}

section.meusArquivos-cpf .abas-holder ul{
    list-style-type: none;
    list-style-position: inside;
}

section.meusArquivos-cpf .abas-holder ul li{
    display: inline-block;
    margin-right: .2%;
    border-radius: 10px 10px 0 0;
    background: #606b78;
    color: white;
    padding: 1%;
    cursor: pointer;
}

section.meusArquivos-cpf .abas-holder ul li.selected{
    background: #8391a2;
}

section.meusArquivos-cpf .abas-holder ul li:hover{
    filter: brightness(1.1)
}

section.meusArquivos-cpf .pagination{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

section.meusArquivos-cpf .pagination button{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

table{
    width: 98%;
    border-collapse: collapse;
    box-shadow: 1px 0.5px 2px 1px gray;
}

table thead tr.tr-head td{
    padding: 1%;
    color: white;
    background: #8391a2;
}

table tbody tr td{
    padding: 1%;
}

table tbody tr td.td-hover{
    cursor: pointer;
}

table tbody tr td.td-hover:hover{
    background: rgba(255,255,255, 0.3)
}

.holdingPrint{
    display: none;
}

#documento{
    padding: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#documento tr.flexMemo{
    padding: 0 2px;
    display: flex;
    justify-content: space-between;
}

#documento tr.flexMemo td:first-of-type{
    font-weight: bold;
}

#documento .numMemoFlex{
    width: 25%;
}

#documento .dataMemo{
    text-decoration: underline;
    width: 25%;
}

#documento td.dataMemo {
    text-decoration: underline;
}

#documento tr.conteudo td table, #documento tbody tr.conteudo td table tr, #documento tbody tr.conteudo td table tr td {
    border-collapse: collapse;
    border: 1px solid black!important;
}

#documento table tr td{
    padding: 5px;
    border: 1px solid black!important;
}

#documento .default{
    font-size: 16px;
    font-weight: bold;
}

.holdingPrint tfoot{
    display: none;
}

.popupMemo{
    background: rgb(243,243,243);
    font-weight: normal;
    border-radius: 2%;
    padding: 10px;
    height: 150px;
    width: 20%;
    top: 35%;
    left: 40%;
    box-shadow: 1px 0.5px 2px 1px gray;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
}

.btn-popup__popupMemo{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    width: 100%;
    text-align: right;
}

.btn-popup__popupMemo button{
    margin-left: 5px;
    padding: 2px;
    width: 20%;
}