:root{
    --primary-color: rgba(60, 184, 230, 0.7);
}

.container--painel{
    margin: 1.5% auto;
    margin-left: 18%;
    width: 100%;
    max-width: 1366px;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-content: top;
    border-radius: 5%;
    transition: 0.5s;
}

