:root{
    --primary-color: rgba(60, 184, 230, 0.7);
}

.container--painel{
    margin: 1.5% auto;
    margin-left: 18%;
    width: 100%;
    max-width: 1366px;
    transition: 0.5s;
}

.breadcrump{
    transition: 0.5s;
    position: absolute;
    color: #8391a2;
}

.breadcrump h1{
    font-family: 'Microsoft Yi Baiti';
    font-size: 24px;
    letter-spacing: 1.5px;
}