.setor-doc{
    margin-left: 1.5%;
    margin-top: 2%;
}

.setor-doc .abas-holder ul{
    list-style-type: none;
    list-style-position: inside;
}

.setor-doc .abas-holder ul li{
    display: inline-block;
    margin-right: .2%;
    border-radius: 10px 10px 0 0;
    background: #606b78;
    color: white;
    padding: 1%;
    cursor: pointer;
}

.setor-doc .abas-holder ul li.selected{
    background: #8391a2;
}

.setor-doc .abas-holder ul li:hover{
    filter: brightness(1.1)
}

.setor-doc .clickable-td{
    cursor: pointer;
}

.setor-doc .clickable-td:hover{
    background: rgba(255,255,255, 0.3);
}

.popUpOpenDocument{
    background: rgb(243,243,243);
    font-weight: normal;
    border-radius: 2%;
    padding: 10px;
    height: 150px;
    width: 20%;
    top: 35%;
    left: 40%;
    box-shadow: 1px 0.5px 2px 1px gray;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
}

.btn-popup__popupMemo{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    width: 100%;
    text-align: right;
}

.btn-popup__popupMemo .buttonClickable{
    background: #5cb85c;
    display: inline-block;
    width: 80px;
    color: white;
    border: none;
    height: 30px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    cursor: pointer
}

.btn-popup__popupMemo .buttonClickable + .buttonClickable{
    background: rgb(255, 79, 74);
}

.btn-popup__popupMemo .buttonClickable:hover{
    filter: brightness(1.1)
}

.setor-doc .pagination{
    width: 100%;
    text-align: center;
}

.setor-doc .pagination button{
    margin-top: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}


