:root{
    --btn--primary-color: rgb(60, 184, 230) 
}


.center{
    padding: 10px;
    box-sizing: border-box;
    background: rgb(243,243,243);
    width: 20%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    
}

.login--form{
    width: 100%;
    text-align: center;
}

input{
    box-sizing: border-box;
    width: 80%;
    padding: 5px;
    margin-bottom: 2%;
}

.btn--primary{
    background: var(--btn--primary-color);
    border: none;
    color: white;
    font-size: 16px;
    width: 80%;
    padding: 8px;

}